

.img-post{
   text-align: center;
}

  img {
    max-width: 100%;
    height: 100px;
    width: 100px;
    margin-top: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}  


 .article { 
     /* width: calc(33.33% - 2rem);  */
     width: 400px;
    height: 300px;
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 1rem;
    margin: 60px; 
     border: 1px solid #ddd; 
    text-align: start;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
    border-radius: 10px;

} 

  article h2 {
    font-size: 1.5rem;
    margin-top: 0;

} 


#Menu_horizontale {
    /* Couleur de fond du menu */
    color: #fff; /* Couleur du texte du menu */
    text-align: center;
    /* margin-left: 300px; */
}

#Menu_horizontale a {
    color: #fff; /* Couleur des liens dans le menu */
    text-decoration: none; /* Supprimer la soulignement des liens */
}

#Menu_horizontale ul  {
    list-style: none;
    padding: 0px;
    display: flex; /* Afficher les éléments de la liste horizontalement */
}

#Menu_horizontale ul li {
    margin:  7px; /* Espacement entre les éléments du menu */
    position: relative;
    font-size: 15px;
}

#Menu_horizontale ul li:hover ul {
    display: block; /* Afficher le sous-menu lors du survol */
    font-size: 15px;
}

#Menu_horizontale ul ul {
    display: none; /* Cacher le sous-menu par défaut */
    position: absolute;
    top: 90%;
    left: 0;
    background-color: var(--vert); /* Couleur de fond du sous-menu */
     width: 250px;
}

#Menu_horizontale ul ul li {
    display: block;
    font-size: 15px;
}

.li-drown{
    font-size: 15px;
    
}


.post-contenair{
    display: flex;
    flex-direction: column;
}

.post{
    display: flex;
    flex-direction: row;
}

